body{
	font-family: 'Arya', sans-serif;
	
}
p{font-family: 'Open Sans Condensed', sans-serif;
}
/*li{*/
	/*font-family: 'Open Sans Condensed', sans-serif;*/
}
/*HEADER*/
.container{
	background-color: rgba(153,149,147,0.2);
	background:contain;}
.logo{
	width: 14%;
	margin-left: 10px;
	margin-bottom: 10px;
}
.titulo{
	text-align: left;
	width: 180px;
	margin-left: 143px;
	margin-top: -100px;
	line-height: 20px;
	font-size: 20px;	
}
.contacto{
	float: right;
	text-align: right;
	color: #2D609D;
	margin-right: 20px;
	margin-top: -100px;
	

}
.contacto strong{
	margin: 0;
}
.input input{
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
    margin-left:746px;
    margin-top: -30px;
}


/*empieza menu*/

/*TERMINA HEADER*/


/*FOOTER*/
.footer{background-color:#2D609D; color:white;
    left: 14px;}
.footer .list-footer{
	margin-left: 20px;
	margin-top: 10px;float: left;}

.footer .list-footer li{list-style: none; display: block;
	font-size: 12px;
}
.icono-footer{
	color: #000;
	text-align: right;
	padding-right: 10px;
	margin-top: 43px;
	margin-bottom: 5px;
}
.redes2 a{
	font-size: 30px;
	color: white;
}
.redes2{
	background-color: transparent;
	border:transparent;
	margin-right: 5px;
	
}
/*FINAL FOOTER*/

/*REDES FIXED*/
.redes{
	width: 80px;
	background-color:transparent;
	text-align: center;
	position: fixed;
	margin-left: -80px;
}
.botones{
	background-color: transparent;
	border:transparent;
}
.botones span{
	font-size: 45px;
	
}
/* TERMIREDES FIXED*/
