*{outline: 1px solid red;}
.header img{
	width: 20%;
}
.header{
	display: inline-block;
}
.header h1{
	width: 100px;
	height: 100px:;
}
.header .contacto p{
	float: right;
	width: 100px;
	height: 100px;
}
input{
	position: relative;
	top:200px;
}